[FORMAT]
2.0

[DATA FILE]
#data/SWEAVAnalytic2D.h
data/SWEAVWall2D.h
#data/SWEAVGuus2D.h
#data/SWEAVCircularDam2D.h
#data/SWEAVparabolic2D.h

[MESH FILE]
#BOX
../../meshes/wallh15.msh
#../../meshes/wallsplit.msh
#../../meshes/wallsplith1.msh
#../../meshes/meshAnalytic.msh
#../../meshes/analytich025.msh
#../../meshes/circleh025.msh
#../../meshes/guush05.msh
#../../meshes/circularDamh05.msh
#../../meshes/parabolich01.msh
#../../meshes/circle.msh

[MESH DIMENSION]
2

[ELEMENT TYPE] # number of edges, 100 means curvilinear
3

[BOX NX]
10

[BOX NY]
10

[BOX NZ]
10

[BOX BOUNDARY FLAG]
1

[POLYNOMIAL DEGREE]
4

#Can be COLLOCATION or CUBATURE
[ADVECTION TYPE]
CUBATURE


[THREAD MODEL]
CUDA

[PLATFORM NUMBER]
0

[DEVICE NUMBER]
0

[TIME INTEGRATOR]
DOPRI5

[CFL NUMBER]
0.1

[START TIME]
0

[FINAL TIME]
0.1

[OUTPUT INTERVAL]
0.1

[OUTPUT TO FILE]
TRUE

[OUTPUT FILE NAME]
SWE
