[FORMAT]
2.0

[DATA FILE]
data/SWEAVCircularDam2D.h


[MESH FILE]
../../meshes/circularDamh01.msh


[MESH DIMENSION]
2

[ELEMENT TYPE] # number of edges, 100 means curvilinear
3

[BOX NX]
10

[BOX NY]
10

[BOX NZ]
10

[BOX BOUNDARY FLAG]
1

[POLYNOMIAL DEGREE]
4

#Can be COLLOCATION or CUBATURE
[ADVECTION TYPE]
CUBATURE


[THREAD MODEL]
CUDA

[PLATFORM NUMBER]
0

[DEVICE NUMBER]
0

[TIME INTEGRATOR]
DOPRI5

[CFL NUMBER]
0.1

[START TIME]
0

[FINAL TIME]
3.5

[OUTPUT INTERVAL]
3.5

[OUTPUT TO FILE]
TRUE

[OUTPUT FILE NAME]
SWECircularDam2
